* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #aaa;
}

.container {
    display: block;
    width: 85%;
    background-color: beige;
    margin: auto;
    font-size: 1.2rem;
}

.box {
    min-height: 6rem;
    padding: 1rem;
    font-family: sans-serif;
}

a {
    color: white;
}

a:hover {
    color: #888;
}

.b1 {
    background-color: darkslategrey;
    padding-bottom: 140px;
    color: white;
}

.b2 {
    padding-top: 120px;
    background-color: coral;
    color: white;
}

.b3 {
    background-color: darkkhaki;
}

.photo img {
    position: absolute;
    top: -70px;
    left: -30px;
}

.photo {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    overflow: hidden;
    position: absolute;
    top: 100px;
    left: 50%;
    margin-left: -100px;
    z-index: 2;
    border: 3px solid white;
}

.text-center {
    text-align: center;
}
